* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #151b1a;
    color: #f5f5f5;
    line-height: 1.5;
}

.container {
    width: 90%;
    margin: auto;
}

header h1 {
    color: gray;
}

header img {
    height: 100px;
} 


.header__content {
    display: flex;
    justify-content: center;
        align-items: center;
        padding: 20px 0;
}

.nav__list {
    display: flex;
    text-decoration: none;
    gap: 30px;

}

.menu-toggle {
    display: none;
    font-size: 25px;
    background: none;
    color: white;
}

.hero {
    height: 80vh;
    background: url(https://www.rockaxis.com/img/newsList/7675929.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero__overlay{
    background:rgb(13, 13, 13);
    padding: 5px;
    text-align: center;
}

.hero h2{
    font-size: 3rem;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    color: white;
    text-decoration: none;
}

.events__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

img {
    max-width: 300%;
    display: block;
}

a {
    text-decoration: none;
    color: inherit;
}

main {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin: 3rem 0;
}

h1, h2, h3 {
    margin-bottom: 1rem;
}


/* Puedes usar esto si quieres centrar contenido */
/* .container {
    margin: 0 auto;
    } */
    
    
    @media (max-width: 768px) {

    .nav__list{
        display: none;
        flex-direction: column;
        background: black;
        position: absolute;
        top: 70px;
        right: 20px;
        padding: 10px;
    }
        
    body {
        font-size: 14px;
    }

    main {
        width: 95%;
    }

    section {
        margin: 2rem 0;
    }


}